# Data
data/

# Model Weights + Results
outputs/weights/


# Python Cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/
.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db